/* :root {
    --blue:  rgb(8, 111, 247);
  } */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    border-bottom: rgba(255, 255, 255, 0.75) solid 1px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    margin-bottom: 3vw;
}
header nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: flex-end;
}
header nav ul li{
    
    padding:1.5vw 3vw; 
    font-size: larger;
    font-weight: bold;
    
}
header nav ul a{
    text-decoration: none;

}
main{
    margin: 0 15%;
}

#welcome-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
#intro-h1{
    font-size: 50px;
    text-align: center;
    margin: 10px;
}
#intro-text{
    text-align: center;
    font-size: 30px;
}

#start-button{
    width: 110px;
    font-size: 25px;
    margin: 10px auto;
    border-radius: 50%;
    background-color: purple;
    color: white;
}

#start-button a{
    text-decoration: none;
    color: white;
}
.head{
    display: flex;
    justify-content: center;
    border-radius: 5%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    font-size: x-large;
    padding: 3% 10% 3vw 10%;
    border: rgba(255, 255, 255, 0.75) solid 1px;
}
.body{
    display: block;
    background-color:rgba(255, 255, 255, 0.95);
    padding:3% 15% 3% 0;
    border-top: none;

    min-height: 400px;
}
.body div{
    padding: 1.5vw 0;
    font-weight: bold;
    font-size: larger;
    line-height: 2;

}
.body div:hover{
    color: white;
    background-color: purple;
}
.body p{
    padding-left: 4%;
}
footer button{
    color: white;
    background-color: tomato;
    border: white 1px solid;
    box-shadow: inset -3px -3px 3px black;
    border-top: none;
    float: right;
    padding: 2%;
    font-size: large;
    font-weight: bold;
    border-radius: 50%;
    margin: 0.8vw 2.3vw 2vw 2vw;
    outline: none;
}